<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usbtj.springboot.swimming.mapper.UserMapper">

    <select id="findByUsername" resultType="com.usbtj.springboot.swimming.entity.User">
        SELECT * FROM users WHERE username = #{username} AND status = 1
    </select>

    <select id="findById" resultType="com.usbtj.springboot.swimming.entity.User">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.usbtj.springboot.swimming.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, role, status)
        VALUES (#{username}, #{password}, #{role}, #{status})
    </insert>

    <delete id="deleteById">
        DELETE FROM users WHERE id = #{id}
    </delete>

    <select id="findAllUsers" resultType="com.usbtj.springboot.swimming.entity.User">
        SELECT * FROM users 
        WHERE id != #{excludeUserId} 
          AND status = 1
        ORDER BY id
    </select>

    <update id="update" parameterType="com.usbtj.springboot.swimming.entity.User">
        UPDATE users
        SET username = #{username},
            password = #{password},
            status = #{status},
            updated_at = NOW()
        WHERE id = #{id}
    </update>

</mapper>
